/* Footer.css */

.footer {
    background-color: #000;
    color: #fff;
    padding: 20px;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .footer-bottom {
    text-align: center;
  }
  
  @media screen and (max-width: 768px) {
    .footer-content {
      flex-direction: column;
    }
  }
  